#results ul 
	// position relative
	// min-height 1px

	li 
		// display block /* temp to show the new way*/
		// height 297px
		
		// @media (max-width 639px)
		// 	height 360px
			
		// @media (min-width 641px)
		// 	height 340px

		// @media (min-width 768px)
		// 	height 388px
			
		// @media (min-width 960px)
		// 	height 324px

		// @media (min-width 1024px)
		// 	height 342px
		
		// @media (min-width 1025px)
		// 	height 340px
		// 	padding-top 1.8rem

		// @media (min-width 1280px)
		// 	height 377px
		
		.book
			// position relative
			// line-height 1.5em
			// float left
			// // width 185px
			// margin 0
			// height 100%
			// width 100%
			background-color #ebe6e3
			
			img
				display block
				height 175px
				width auto
				margin 0
				visibility hidden
	
				@media (max-width 639px)
					height 230px
				@media (min-width:641px) and (max-width 767px)
					height 210px
				@media (min-width: 768px)
					height 260px
				@media (min-width:769px) and (max-width: 959px)
					height 250px
				@media (min-width:960px) and (max-width: 1023px)
					height 200px
				@media (min-width:1024px) and (max-width: 1279px)
					height 210px
				@media (min-width: 1280px)
					height 235px
				
		

			// .prettyCovers
			// 	left 0 
			// 	right 0
			// 	top 40px
			// 	bottom 0
			// 	background-size 100% 100%
			// 	background-repeat no-repeat
			// 	background-position 50% 25%
			// 	background-color transparent
			// 	position relative
			// 	display inline-block
			
			// .satinTexture
			// 	position: absolute;
			// 	top: 0;
			// 	left: 0;
			// 	right: 0;
			// 	bottom: 0;
			// 	z-index: 2;
				
			// 	&:before
			// 		content: "";
			// 		position: absolute;
			// 		top: 0;
			// 		bottom: 0;
			// 		width: 15px;
			// 		opacity: 0.3;
			// 		left: 0;
			// 		background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 100%), -moz-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 100%);
			// 		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(40%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(40%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
			// 		background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 100%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 100%);
			// 		background: -o-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 100%), -o-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 100%);
			// 		background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 100%), -ms-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 100%);
			// 		background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 100%), linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 100%);
				
			// 	&:after
			// 		content: "";
			// 		position: absolute;
			// 		top: 0;
			// 		bottom: 0;
			// 		width: 15px;
			// 		opacity: 0.3;
			// 		right: 0;
			// 		background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.1) 100%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.4) 100%);
			// 		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1))), -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(10%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.4)));
			// 		background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.1) 100%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.4) 100%);
			// 		background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.1) 100%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.4) 100%);
			// 		background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.1) 100%), -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.4) 100%);
			// 		background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.1) 100%), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.4) 100%);
											

			.text
				position absolute
				top 227px
				left 5px
				right 5px
				line-height 1
				text-align center
				font-size 1em
				
				@media (max-width 639px)
					top 295px
				@media (min-width 641px)
					top 270px
				@media (min-width 768px)
					top 315px
				@media (min-width 960px)
					top 253px
				@media (min-width 1024px)
					top 270px
				@media (min-width 1280px)
					top 300px
					font-size 1.125em

	a 
		font-size 1.125em
		color #b08401
		position relative
		padding-bottom 31px
		text-transform uppercase
		


			

	.clickToRead
		font-family 'Gotham Book'
		font-weigth bold
		line-height 35px
		background-color: rgba(0,0,0,0.8)
		border-radius 4px
		color #FFF
		width 110px
		height 35px
		position absolute
		margin auto
		top 45%
		left 0
		right 0
		font-size 0.6em
		text-transform none
		/* display none use meanwhile the images have the tag */
		
		
			
		
// .highlightBoxes 
// 	margin-left -10px
// 	padding-left 0px
// 	padding-right 0
	
// 	@media (min-width 641px) and (max-width 1024px)
// 		padding-left 0.8em
// 		padding-right 0.8em
	
// 	@media (min-width 1025px)
// 		padding-right 1.2em
	
// 	ul
// 		margin 0
// 		padding-top 1.8em
		
// 		li
// 			position relative
// 			left 0px !important
// 			right 0px !important
		
// 			@media (max-width: 639px)
// 				width 100%
// 				padding 0.6em 0.8em
				
// 			@media (min-width: 640px)
// 				padding-bottom calc(33.33% - 20px)
				
// 			@media (min-width: 1025px)
// 				padding-left 0.6rem
// 				padding-right 0.6rem
// 				&:nth-of-type(3n+1),
// 				&.no-padding-left
// 					padding-left 0px
// 					padding-right 1.2rem
// 				&:nth-of-type(3n+3),
// 				&.no-padding-right
// 					padding-right 0px
// 					padding-left 1.2rem
		
// .highlightBoxes ul .vaWrapper
// 	position absolute
// 	top 0
// 	bottom 0
// 	text-align center
// 	line-height 1
// 	color #FFF
// 	font-family 'Gotham Light'
// 	text-transform uppercase
	
// 	@media (max-width: 639px)
// 		position relative
	
		
// 	&.share
// 		text-align center
// 		vertical-align middle
// 		left 0px
// 		right 20px
	
// 		@media (max-width: 639px)
// 			height 150px !important;
		
// 		@media (min-width: 640px) and (max-width: 690px)
// 			left 0px
// 			right 4px
// 			top 2px
// 			bottom 2px 
			
// 		.wrapper
// 			font-size 1em
// 			padding 0
			
			
// 			span		
// 				font-size 3em
// 				letter-spacing 6px
// 				display block
				
// 				@media (max-width: 640px)
// 					font-size 1.2em
// 					letter-spacing 3px
			
// 				@media (max-width: 960px)
// 					font-size 1.8em
// 					letter-spacing 5px
				
// 			.shareWidgets
// 				display inline-block
// 				width 22%
// 				height 60px
// 				font-size 0
// 				padding 0
// 				margin-top 10px
// 				text-align center
				
// 				@media (max-width: 639px)
// 					min-height 50px
					
// 				// @media (min-width: 640px) and (max-width: 690px)
// 				// 	width 45%
					
// 				img
// 					width auto
// 					height auto
// 					vertical-align bottom
				
				
				
// 	&.more
// 		left 10px
// 		right 10px
		
// 		@media (max-width: 639px)
// 			height 150px !important;
// 			left 0px
// 			right 0px
			
// 		@media (min-width: 640px) and (max-width: 690px)
// 			left 2px
// 			right 2px
// 			top 2px
// 			bottom 2px 

			
// 		a 
// 			display inline-block
		
// 			span 
// 				display block
				
// 			@media (max-width: 639px)
// 				font-size 1.6em
// 				vertical-align middle
				
// 				span
// 					font-size 0.7em
// 					line-height 1.5
// 					letter-spacing 2px
					
// 			@media (min-width: 640px)
// 				font-size 2.25em
// 				letter-spacing 1px
				
// 				span
// 					font-size 0.7rem
// 					line-height 1.5
// 					letter-spacing 1px
			
// 			@media (min-width: 768px)
// 				font-size 2.1em
// 				letter-spacing 2px
				
// 				span
// 					font-size 0.7rem
// 					line-height 1.8
// 					letter-spacing 2px
			
// 			@media (min-width: 960px)
// 				font-size 2.3em
// 				letter-spacing 4px
				
// 				span
// 					font-size 0.7rem
// 					line-height 2
// 					letter-spacing 2px
			
// 			@media (min-width: 1024px)
// 				font-size 2.7em
// 				letter-spacing 4px
				
// 				span
// 					font-size 0.7rem
// 					line-height 2.2
// 					letter-spacing 3px
			
// 			@media (min-width: 1280px)
// 				font-size 3.25em
// 				letter-spacing 5px
				
// 				span
// 					font-size 0.625rem
// 					line-height 2.5
// 					letter-spacing 3px
			
// 			@media (min-width: 1920px)
// 				font-size 2.1em
				
// 				span
// 					font-size 0.7em
// 					line-height 2.5
// 					letter-spacing 3px
					
// 	&.mayLike 
// 		font-size 0.875rem
// 		letter-spacing 2px
// 		left 20px
// 		right 0px
		
// 		@media (max-width: 639px)
// 			left 0px
// 			right 0px
// 		@media (min-width: 640px) and (max-width: 690px)
// 			left 4px
// 			right 0px
// 			top 2px
// 			bottom 2px 

		
// 		.vaElement
			
// 			@media (max-width: 639px)
// 				padding 10px 0

// 			span
// 				margin 5px auto

// 			.prettyCovers
// 				width 60%
// 				display block
// 				margin 20px auto 10px
				
// 				@media (min-width: 1280px)
// 					width 190px
// 					margin-top 10px