.events
	.mainEvent
		color #FFF	
		padding 30px 40px
		margin-top 27px
		
		h2 
			font-size 2.5em
			margin 0
			line-height 1
			
			@media (min-width 960px)
				font-size 3.75em
			
			@media (min-width 1025px)
				font-size 2.3em
		ul
			margin 5px 0 25px
			padding 0
			
			li
				font-size 1.125em
				list-style none
				font-family 'Gotham Book'
				margin 0
				padding 0
				
				@media (min-width 960px)
					font-size 1.6em
				
				@media (min-width 1025px)
					font-size 1.125em
				
		.title
			text-transform uppercase
		h3 
			font-size 1.875em
			margin 0
			line-height 1
			text-transform uppercase
			
			@media (min-width 960px)
				font-size 2.8em
			@media (min-width 1025px)
				font-size 1.75em
			
		.copy
			margin-top 10px
			font-size 1.125em
			
			@media (min-width 960px)
				font-size 1.6em
			@media (min-width 1025px)
				font-size 1.125em
	
	.months
		float left
		width 100%
		padding 0 
		
		ul
			margin 0 
			padding 0
			
			li 	
				width 25%
				display block
				float left
				list-style none
				margin 50px 0
				text-align center
				font-size 0.875em
				line-height 35px
				
				
				@media (min-width 960px)
					font-size 1.25em
				@media (min-width 1025px)
					font-size 1.375em
				
			.active
				font-size 1.373em
				color #f477c5
				
				@media (min-width 960px)
					font-size 2em
				@media (min-width 1025px)
					font-size 2.3em
				
.days
	width 100%
	float left
	color #000
	font-family 'Gotham Light'
	padding 35px 50px
	
	@media (min-width 960px)
		padding 50px 70px
	@media (min-width 1025px)
		padding 30px 40px 

	
	&:nth-of-type(odd)
		background #ebe6e3
	
	ul
		margin 0 
		padding 0
	
	li 
		list-style none
		font-size 1.125em
		padding 0
		
		@media (min-width 960px) and (max-width 1024px)
			font-size 1.6rem
		
		&.title 
			text-transform uppercase
	
		&.date
			font-size 2.25em 
			
			@media (min-width 960px)
				font-size 3.373em
				
			@media (min-width 1025px)
				font-size 2.125em
		
		&.author:before, 
		&.where:before
			content '-'
			margin-right 5px
		

	
		
			