/* stylus format, for reference only */

.highlightBoxes .columns
	position relative
	
	@media (max-width: 639px)
		width 100%
		padding 0.6em 1.215em
		
	@media (min-width: 640px)
		padding-bottom 33%

.highlightBoxes .columns div.vaWrapper
	position absolute
	left 10px
	right 10px
	top 10px
	bottom 10px 
	text-align center
	line-height 1
	color #FFF
	font-family 'Gotham Light'
	text-transform uppercase
	
	@media (max-width: 639px)
		position relative
	
	@media (min-width: 640px) and (max-width: 690px)
		left 2px
		right 2px
		top 2px
		bottom 2px 
		
	&.share
		text-align center
		vertical-align middle
	
		@media (max-width: 639px)
			height 150px !important
			left 0px
			right 0px
			
		.wrapper
			font-size 1em
			padding 0
			
			
			span		
				font-size 3em
				letter-spacing 6px
				display block
				
				@media (max-width: 640px)
					font-size 1.2em
					letter-spacing 3px
			
				@media (max-width: 960px)
					font-size 1.8em
					letter-spacing 5px
				
			.shareWidgets
				display inline-block
				width 22%
				height 60px
				font-size 0
				padding 0
				margin-top 10px
				text-align center
				
				@media (max-width: 639px)
					min-height 50px
					
				// @media (min-width: 640px) and (max-width: 690px)
				// 	width 45%
					
				img
					width auto
					vertical-align bottom
				
				
				
	&.more
		
		@media (max-width: 639px)
			height 150px !important
			left 0px
			right 0px
			
		a 
			display inline-block
		
			span 
				display block
				
			@media (max-width: 639px)
				font-size 1.6em
				vertical-align middle
				
				span
					font-size 0.7em
					line-height 1.5
					letter-spacing 2px
					
			@media (min-width: 640px)
				font-size 2.25em
				letter-spacing 1px
				
				span
					font-size 0.7rem
					line-height 1.5
					letter-spacing 1px
			
			@media (min-width: 768px)
				font-size 2.1em
				letter-spacing 2px
				
				span
					font-size 0.7rem
					line-height 1.8
					letter-spacing 2px
			
			@media (min-width: 960px)
				font-size 2.3em
				letter-spacing 4px
				
				span
					font-size 0.7rem
					line-height 2
					letter-spacing 2px
			
			@media (min-width: 1024px)
				font-size 2.7em
				letter-spacing 4px
				
				span
					font-size 0.7rem
					line-height 2.2
					letter-spacing 3px
			
			@media (min-width: 1280px)
				font-size 3.25em
				letter-spacing 5px
				
				span
					font-size 0.625rem
					line-height 2.5
					letter-spacing 3px
			
			@media (min-width: 1920px)
				font-size 2.1em
				
				span
					font-size 0.7em
					line-height 2.5
					letter-spacing 3px
					
	&.mayLike 
		font-size 0.875rem
		letter-spacing 2px
		left 10px
		right 10px
		
		@media (max-width: 639px)
			left 0px
			right 0px
		@media (min-width: 640px) and (max-width: 690px)
			left 4px
			right 0px
			top 2px
			bottom 2px 
	
		.vaElement
			
			@media (max-width: 639px)
				padding 10px 0

			span
				margin 5px auto

			img
				width 60%
				display block
				margin 20px auto 10px
				
				@media (min-width: 1280px)
					width 190px
					margin-top 10px
					
